API_KEY=NR_OFICIAL_2026
PORT=10000
API_NAME=NR API
API_VERSION=4.2.1
YTDLP_BIN=yt-dlp
FFMPEG_BIN=ffmpeg
GALLERY_DL_BIN=gallery-dl
TEMP_DIR=./tmp
DOWNLOAD_TIMEOUT_MS=180000
ENABLE_LEGACY_YT_ROUTES=true
EXPOSE_API_KEY_IN_LINKS=false
ENABLE_SOCIAL_ROUTES=true
ENABLE_IMAGE_ROUTES=true
